= simple_form_for @organisation do |f|
  = f.input :name
  = f.input :phone
  = f.input :email
    = f.input :organisation
  = f.input :country
  = f.input :address
  = f.input :city
  = f.input :state
  = f.input :postcode
  = f.input :user_id, as: :hidden, input_html: { value: current_user.id.to_s}
  = f.input :owner_id, as: :hidden, input_html: { value: current_user.contact_id.to_s}
  = f.button :submit
