%h1 Listing accounts

%table
  %thead
    %tr
      %th Phone
      %th Email
      %th Website
      %th Address
      %th Address2
      %th City
      %th State
      %th Postcode
      %th Country
      %th
      %th
      %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.phone
        %td= account.email
        %td= account.website
        %td= account.address
        %td= account.address2
        %td= account.city
        %td= account.state
        %td= account.postcode
        %td= account.country
        %td= link_to 'Show', account
        %td= link_to 'Edit', edit_account_path(account)
        %td= link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account', new_account_path
